<form>
        <label>Email</label>
        <input type="text" name="email">
        <label>name</label>
        <input type="text" name="username">
        <label>Message</label>
        <textarea cols="6" rows="6"></textarea>
        <br>
        <button type="button" class="btn btn-success">Send</button>
</form>